
  <ion-view title="爱尚养猪" ng-controller="asyzController">
        
        
      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons> 
      
      <ion-nav-buttons side="left" >
        <button  class="button button-icon icon ion-person-add" ng-click="add()"></button>
      </ion-nav-buttons> 
    <ion-content>
  <div class="row">
  
  <div class="col"></div>
  <div class="col" style=""> <button class="button icon-left ion-star button-balanced" >总数：12</button>  </div>
   <div class="col"></div>
   </div>
  <style>
.col{
  text-align: center;
}
</style>
  <div class="row">
  
    <div class="col"> <button class="button icon-left ion-ios-football-outline button-calm">母猪：2</button></div>
    <div class="col"> <button class="button icon-left ion-ios-basketball-outline button-royal">肉猪：1</button></div>
    <div class="col"> <button class="button icon-left ion-ios-tennisball-outline button-energized">猪仔：2</button></div>

  </div>
     <div class="card" >
       <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#/menu/asyzRob">
                                           去抢猪
            <i class="icon ion-chevron-right"></i>
                                                  
      
          </a>

        </div>
     </div>
  
  
    <div class="card" >
        <div class="item item-divider">
       <div class="row">
        <div class="col"><i class="icon ion-unlocked balanced"></i>zsfsa012 </div>
        <div class="col">拥有人:zjy</div>
        <div class="col">余额:120<i class="icon ion-social-yen energized"></i></div>
        </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
        <div class="col calm">母猪:12</div>
        <div class="col royal">肉猪:2</div>
        <div class="col energized">猪仔:2</div>
        </div>
        </div>
   
     </div>
     
       <div class="card" >
        <div class="item item-divider">
       <div class="row">
        <div class="col"><i class="icon ion-locked assertive"></i>zsfsa012 </div>
        <div class="col">拥有人:zjy</div>
        <div class="col">余额:120<i class="icon ion-social-yen energized"></i></div>
        </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
        <div class="col calm">母猪:0</div>
        <div class="col royal">肉猪:2</div>
        <div class="col energized">猪仔:2</div>
        </div>
        </div>
   
     </div>
    

    </ion-content>
 </ion-view>
