
<!--   <ion-nav-view></ion-nav-view> -->




 <ion-view title="dashboard">

      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    
     <div class="content has-header">

      <div class="list card">

        <div class="item item-avatar">
          <img src="app/img/asyz.png">
          <h2>爱尚养猪
          </a>
          </h2>
        
        </div>

        <div class="item item-body">
          <p>
             <a href="#" class="subdued">总投资：123123</a>
          </p>
          <p>
             <a href="#" class="subdued">账户总数：5</a>
      
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-chevron-right"></i>
            <i class="icon ion-chevron-right"></i>
            <i class="icon ion-chevron-right"></i>
            <i class="icon ion-chevron-right"></i>
      
          </a>

        </div>

      </div>

    </div>
 
    </ion-view>  
</script> 

